MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
MONGODB_DB_NAME=dfe
MONGODB_COLLECTION=connectors
FORM_PROMPT=Create a big movie form with title, director, cast, year and reviews
FORM_OUTPUT_COLLECTION=ui_builder_forms
RUN_OUTPUT_COLLECTION=ui_builder_form_runs
